@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <style>
            h1{
                text-align : center;               
            }
            p{
                text-align :center;
            }
        </style>
              
        <h1>Bienvenido usuario</h1>
        <p>
            Pagina web de videojuegos
        </p>
        <div class="col-12 columna">
            <img src="https://images.pexels.com/photos/3945683/pexels-photo-3945683.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Micha" class="img-thumbnail" rounded float-left>
        </div>

    </div>
</div>